@model IEnumerable<LoginMVCApp.Models.Inventories>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
