<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scan Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginMVCApp.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg shadow-sm">
            <div class="container">
                <img class="mb-2" src="@Url.Content("~/Content/img/logo.png")" alt="logo" width="100" height="50">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            var role = "";
                            try { role = Context?.Session?.GetString("Role") ?? ""; }
                            catch { role = ""; }
                        }
                        @if (role == "Checker")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Checker" asp-action="Index">Checker</a>
                            </li>
                        }
                        @if (role == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Inventories" asp-action="Index">Inventories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Report" asp-action="Index">Reports</a>
                            </li>
                        }
                    </ul>
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Email")))
                    {
                        <div class="d-flex flex-column me-4 text-end">
                            <div class="fw-bold">CHECKER LINE</div>
                            <div class="row gx-2 small">
                                <div class="col-auto">
                                    <div><strong>FACTORY:</strong> CIKARANG 3A</div>
                                </div>
                                <div class="col-auto">
                                    @* <div><strong>PIC:</strong>@Context.Session.GetString("FullName")</div> *@
                                    @{
                                        var fullName = "";
                                        try { fullName = Context?.Session?.GetString("FullName") ?? "-"; }
                                        catch { fullName = "-"; }

                                        var lineIdStr = Context?.Session?.GetString("LineId");
                                        var lineId = lineIdStr ?? "-";
                                    }
                                    <div><strong>PIC:</strong> @fullName</div>
                                </div>
                                <div class="col-auto">
                                    <div><strong>Line:</strong> @lineId</div>
                                </div>
                                <div class="col-auto">
                                    <div><strong>DATE:</strong> <span id="clock-date"></span></div>
                                </div>
                                <div class="col-auto">
                                    <div><strong>TIME:</strong> <span id="clock-time"></span></div>
                                </div>
                            </div>
                        </div>
                    }else{
                        <div class="d-flex flex-column me-4 text-end">
                            <div class="fw-bold">CHECKER LINE</div>
                            <div class="row gx-2 small">
                                <div class="col-auto">
                                    <div><strong>DATE:</strong> <span id="clock-date"></span></div>
                                </div>
                                <div class="col-auto">
                                    <div><strong>TIME:</strong> <span id="clock-time"></span></div>
                                </div>
                            </div>
                        </div>
                    }

                    <ul class="navbar-nav">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Email")))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="dropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/img/user.png" alt="user" width="32" height="32" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser">
                                    <li>
                                        <form asp-action="Logout" asp-controller="Account" method="post" class="px-3 py-1">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PT. Takagi Sari Multi Utama - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    function updateClock() {
        const now = new Date();
        const date = now.toLocaleDateString('id-ID');
        const time = now.toLocaleTimeString('id-ID');

        document.getElementById('clock-date').textContent = date;
        document.getElementById('clock-time').textContent = time;
    }

    setInterval(updateClock, 1000);
    updateClock();
    setTimeout(function () {
        var alertBox = document.getElementById('successAlert');
        if (alertBox) {
            alertBox.classList.remove('show');
            alertBox.classList.add('hide');
        }
    }, 3000); // 3 detik
</script>
</html>
